/*skrifttype og størelse på nettsiden*/
body {
    font-family: Arial, Helvetica, sans-serif;
}


#overskrift{
    font-size: 30px;
}
h2 {
    font-size: 18px;
}
h3{
    font-size: 18px;
}

#overskrift, h2, h3 {
    text-align: center; 
}

    /*liste med linker*/
    ul {
        
        list-style-type: disc;
}
    ul ul {
        
        list-style-type: square;
}
    li {
      list-style-type: disc;  
        
}


    body{

        /*bakgrunns bilde*/
    background-image: url('/grønn\ bakgrunn.png'); 
    background-size: cover;  
    padding: 30px;

    /*bytte posisjon på bilder*/
}
img:nth-of-type(1){
    position: absolute;
  top: 80px;
  left: 1400px;
}

img:nth-of-type(2){
    position: absolute;
  top: 80px;
  left: 40px;
  }

  
  #overskrift{
    margin-bottom:0 ;
  }

  h2{
    margin-top:0 ;

}
/*class for <hr>*/
  .custom-hr {
    height: 10px; 
    background-color: #d4cc94; 
    border: none;
    box-shadow: 0 2px 2px #3f3a20; 
    margin: 0;
    width: 100%; 
}
